*.pyc
*.iml
*.swp
.project
.pydevproject
.DS_Store
.idea

__pycache__/*

.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
# colcon/CMake output
build
install
log

